<nav class="navbar">
  <div class="nav_container">
    <div class="container">
      <!--this should be aligned to the left-->
      <a href="#">RideMyWay</a>
    </div>
    <!--this should be aligned to the right-->
    <div class="container">
      <ul>
        <li><a href="/register">Create Account</a></li>
        <li><a href="/login">Log In </li>
        <li><a href="/terms#">Terms & Privacy Policy</a></li>
        <li><a href="/subscription">Enable Email Notifications</a></li>
      </ul>
    </div>
  </div>
</nav>
