<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RideMyWay</title>
  </head>
  <body align="center">
    <h1>Welcome to RideMyWay,</h1>
    <h3>Please Fill the form below to create your account </h3>
      <form method="POST" action="">
      <div class="">
        <div class="">
          <label for=""><small>Enter email</small></label><br>
          <input type="email" name="" value="" required="email" placeholder="email">
        </div>
        <div class="">
          <label for=""><small>Enter username</small></label><br>
          <input type="text" name="" value="" required="name" placeholder="username">
        </div>
        <div class="">
          <label for=""><small>Enter password</small></label><br>
          <input type="password" name="" value="" required="password" placeholder="password">
        </div>
        <div class="">
          <label for=""><small>Confirm password</small></label><br>
          <input type="password" name="" value="" required="password" placeholder="confirm password">
        </div>
        <p><input type="button" name="" value="Register" class="btn"></p>
      </form>
        <a href="/login">Already Have An Account? <b>Log In</b></a>
        <br>
        <hr>
        <a href="/rides">Go and Checkout availbal rides for you</a>
      </div>
  </body>
</html>
