{% extends 'layout.html'%}

{% block body %}
<h1>Update Profile</h1>
<div class="" align="center">
  <div class="">
    <label for="">Update username</label><br>
    <input type="text" name="" value="" placeholder="username">
  </div>
  <div class="">
    <label for="">edit email</label><br>
    <input type="email" name="" value="" placeholder="email">
  </div>
<hr>
<h2>Change Password:</h2>
  <div class="">
    <label for="">Enter current password:</label><br>
    <input type="password" name="" value="" placeholder="enter old password">
  </div>
  <div class="">
    <label for="">Enter new password</label><br>
    <input type="password" name="" value="" placeholder="enter new email">
  </div>
</div>
{% endblock %}
